h1{
    background-image: linear-gradient(to right, rgb(240, 240, 126), rgb(151, 77, 77));
    border-radius: 5px;
    padding-left: 1em;
}

svg{
  position: absolute;
  top: 5rem;
  right: 10rem;
    border: 5px solid khaki;
    padding: 25px 100px;
    margin-right: 10px;
}


/* start of the animation */
/* svg path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 3s linear forwards;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
  

  svg line {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 3s linear forwards;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  } */

 #movie-title{
  word-wrap: break-word;
 }
 h3{
  display: flex;
  word-wrap: break-word;
 }
  li{
    word-wrap: break-word;
  }

.questions-details{
  width: fit-content;
  position: absolute;
  left: 5rem;
  top: 5rem;
  font-size: 2em;
}
.questions-details h3{
  font-size: 2em;
  word-wrap: break-word;
}
.letter{
  border-bottom: 4px solid black;
  margin: 0 .1em;
  width:fit-content ;
}

