h1 {
  background-image: linear-gradient(
    to right,
    rgb(240, 240, 126),
    rgb(151, 77, 77)
  );
  border-radius: 5px;
  padding-left: 1em;
}

svg {
  position: absolute;
  top: 5rem;
  right: 10rem;
  border: 5px solid khaki;
  padding: 25px 100px;
}

#main{
  display: flex;
  justify-content: space-evenly;
}


/* start of the animation */

  .wrong-answer {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: strike 3s linear forwards;
  }
  
  .wrong-answer-face {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: face 10s linear forwards;
  }

  @keyframes strike {
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes face {
    to {
      stroke-dashoffset: 0;
    }
  }
  

 .hidden{
   display: none;
 }

#movie-title {
  display: none;
}
#puzzle {
  display: flex;
  overflow-wrap: break-word;  
  word-wrap: break-word; 
  word-break: break-word;
}
li {
  word-wrap: break-word;
}

.questions-details {
  width: fit-content;
  position: absolute;
  left: 5rem;
  top: 5rem;
  font-size: 2em;
}
.questions-details h3 {
  font-size: 2em;
  word-wrap: break-word;
}
.letter {
  border-bottom: 4px solid black;
  margin: 0 0.1em;
  width: fit-content;
}

.touch-screen-message{
  margin: auto;
  text-align: center;
  display: none;
}

.touch-screen-message h2{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  padding: .5em 1em;
}

.touch-screen-message img{
  width: 80%;
  border-radius: 50%;
  
}